.profile-header {
  background-image: url(../../images/desertbw.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
  padding: 30px;
  align-items: center;
  position: relative;
}

.profile-header-username h1 {
  font-size: 25px;
  letter-spacing: 2px;
  color: rgba(40, 40, 40, 0.9);
  padding-left: 20px;
  position: absolute;
  top: 70px;
  left: 70px;
}

.profile-header-username h2 {
  color: rgba(255, 255, 255, 0.7);
  padding-left: 20px;
  position: absolute;
  top: 110px;
  left: 70px;
}
